{# <header> #}
{# <div>logo</div>
<div class="head1">
    <div>Acceuil</div>
    <div>Exercices</div>
    <div>A propos</div>
    <div>Mentions légales</div>
</div>
 <div class="head2">
    <div>Se connecter</div>
    <div>s'inscrire</div>
</div> #}

{# <ul class="lien">
        <li><a id="a_nav2" href="/">Accueil</a></li>
        <li><a id="a_nav2" href="/muscle/">Exercices</a></li>
        <li><a id="a_nav2" href="/apropos">A propos</a></li>
					<li><a href="/mentionslegales" class="lien_mentions" id="a_nav2">Mentions légales</a></li>
		
      	          <div class="user">
            <a id="a_nav2" href="/register">S'inscrire</a>
            <a id="a_nav2" href="/login">Se connecter</a>
          </div> 
</header>
 #}
{% block header %}
	<header>
		<nav class="navbar"> <a id="logo_nav" href="/"><img src="{{asset('images/FlashMuscu.png')}}" alt="Logo"></a>

		<div class="lien">
			<a href="/">Accueil</a>
			<a href="{{path ('muscle') }}">Muscle</a>
			<a href="{{path ('exercice') }}">Exercice</a>
			<a href="/apropos">A propos</a>
			<a href="/mentionslegales">Mentions légales</a>
		</div>

		<div class="user">
			<a href="{{path ('signup') }}">S'inscrire</a>
			<a href="{{path ('login') }}">Se connecter</a>
		</div>

	</nav>


	

	</header>
	{% endblock %}
