{% extends 'base.html.twig' %}

{% block title %}Exercice index{% endblock %}

{% block body %}
    <h1>Exercice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exercice in exercices %}
            <tr class="card">
                <td>{{ exercice.name }}</td>
                <td>
                    <img src="{{ exercice.urlPicture }}" alt="" style="width: auto; height: 100px;">
                </td>
                <td>
                    <a href="{{ path('exercice_show', {'id': exercice.id}) }}">show</a>
                    {# <a href="{{ path('exercice_edit', {'id': exercice.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('exercice_new') }}">Create new</a> #}
{% endblock %}
