{% extends 'base.html.twig' %}

{% block title %}Exercice{% endblock %}

{% block body %}
    <h1>Exercice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ exercice.name }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ exercice.urlPicture }}" alt="" style="width: auto; height: 100px;"></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ exercice.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('exercice') }}">back to list</a>

    {# <a href="{{ path('exercice_edit', {'id': exercice.id}) }}">edit</a> #}

    {# {{ include('exercice/_delete_form.html.twig') }} #}
{% endblock %}
